<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="centered">Uh, oh... This page doesn't exist.</h1>
    <p class="centered">Try going back to the homepage.</p>
    <img class="centered image" src="../img/404-illustration.png" alt="Page not found">

<%- include('includes/end.ejs') %>