<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="centered">Uh, oh... An error occured.</h1>
    <p class="centered">Apologies, we are looking into this.</p>
    <img class="centered image" src="../img/bugs-illustration.png" alt="Page not found">

<%- include('includes/end.ejs') %>